<!DOCTYPE html>   
<html lang="en">   
<head>   
<title>Tommy Skinner Photography</title>
<%= stylesheet_link_tag "/bootstrap/bootstrap-image-gallery.min.css" %>
</head>  
    <body>  
        <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"></h3>
            </div>
        
        <div class="modal-body">
            <div class="modal-image">
            </div>
        </div>
                <div class="modal-footer">
                    <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
                    <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
                    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
                    <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
                </div>
        </div>
    
<div class="container">   

    <div class="row">
        <div class="span12">
            <a class="Photog-Overlay">Photog Overlay</a>
         </div>
    </div>

    <div class="row">
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
            <div class="span4">
                <%= link_to "Persons", "http://farm9.staticflickr.com/8223/8429346232_cae7e1cf1a_b.jpg", :title=> 'Worship', :class => 'Persons-Overlay', :'data-gallery' => 'gallery' %>
                <%= link_to "Infinity Pool", "http://farm9.staticflickr.com/8043/8428259845_f14f6a2ff1_b.jpg", :title=> 'Infinity and Beyond', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Burmese Boy", "http://farm9.staticflickr.com/8504/8429353696_fa47ff8850_b.jpg", :title=> 'High Five', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Cayos Cachinos", "http://farm9.staticflickr.com/8096/8428255617_bf10d73fe5_b.jpg", :title=> 'Wondering Eyes', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Honduras", "http://farm9.staticflickr.com/8364/8429351212_d1ecda1205_b.jpg", :title=> 'Candy Break', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Lisa and Scott's Wedding", "http://farm9.staticflickr.com/8056/8428258373_2a1b3b1ea7_b.jpg", :title=> 'Newly Weds', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "The G Unit Color", "http://farm9.staticflickr.com/8211/8429352040_1b775f6e95_b.jpg", :title=> 'Family Photo', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "The G Unit BW", "http://farm9.staticflickr.com/8469/8428260501_40bec41c59_b.jpg", :title=> 'Tickle Monster', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Namibia", "http://farm9.staticflickr.com/8221/8428262893_c6b14c9c63_b.jpg", :title=> '3s A Company', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Tokyo Rail", "http://farm9.staticflickr.com/8219/8428258679_3207fe869b_b.jpg", :title=> 'Tokyo Rail', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "BKK Newspaper", "http://farm9.staticflickr.com/8372/8429349028_72c0718533_b.jpg", :title=> 'BKK News', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Paris Doors", "http://farm9.staticflickr.com/8229/8429348658_ed4c501862_b.jpg", :title=> 'Knock Knock', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Arequipa, Peru", "http://farm9.staticflickr.com/8476/8429348274_dc426795eb_b.jpg", :title=> 'Peek Ah Boo', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Picture in Picture", "http://farm9.staticflickr.com/8502/8428256771_1589a4fe78_b.jpg", :title=> 'Picture in Picture', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Tokyo Jump Rope", "http://farm9.staticflickr.com/8196/8428256421_8619b439cb_b.jpg", :title=> 'Old Fashioned Fun', :class => 'invisible', :'data-gallery' => 'gallery' %>
            </div>
        </div>    
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">   
            <div class="span4">
                <%= link_to "Places", "http://farm9.staticflickr.com/8232/8429380562_951a1db318_b.jpg", :title=> 'Lake Champlain', :class => 'Places-Overlay', :'data-gallery' => 'gallery' %>
                <%= link_to "BKK Intersection", "http://farm9.staticflickr.com/8334/8429382492_0035815866_b.jpg", :title=> 'BKK Intersection', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Burt's Detroit", "http://farm9.staticflickr.com/8231/8429381480_12dfeef23c_b.jpg", :title=> 'Burts - Eastern Market, Detroit', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Burlington, Vermont", "http://farm9.staticflickr.com/8366/8429371964_4fb4c64ec4_b.jpg", :title=> 'Burlington, Vermont', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Amsterdamn", "http://farm9.staticflickr.com/8097/8429380094_9011ffe163_b.jpg", :title=> 'Amsterdam', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Honduras", "http://farm9.staticflickr.com/8463/8428288939_9bd6ef8962_b.jpg", :title=> 'Honduras', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Surf City USA", "http://farm9.staticflickr.com/8194/8429379104_dc2b31ba80_b.jpg", :title=> 'Surf City, USA', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Kyoto, Japan", "http://farm9.staticflickr.com/8050/8429377958_150947ea73_b.jpg", :title=> 'Kyoto, Japan', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Machu Pichu", "http://farm9.staticflickr.com/8091/8429377324_2de3b85ce1_b.jpg", :title=> 'Machu Pichu', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "New Zealand", "http://farm9.staticflickr.com/8353/8428284975_aaa06021ee_b.jpg", :title=> 'New Zealand', :class => 'invisible', :'data-gallery' => 'gallery' %> 
                <%= link_to "Venice Beach", "http://farm9.staticflickr.com/8047/8429379924_2a90e3fc03_b.jpg", :title=> 'Venice Beach, California', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "The Lourvre", "http://farm9.staticflickr.com/8231/8428287033_2f4f3c91b7_b.jpg", :title=> 'The Louvre', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Boston Skyline", "http://farm9.staticflickr.com/8190/8429381858_050b2c5ab5_b.jpg", :title=> 'Boston Skyline', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Chiang Mai, Thailand", "http://farm9.staticflickr.com/8475/8428286243_55dc456234_b.jpg", :title=> 'Chiang Mai, Thailand', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Packard Plant, Detroit", "http://farm9.staticflickr.com/8475/8428283481_4849aa03e5_b.jpg", :title=> 'Packard Plant - Detroit, MI', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Ollantaytambo, Peru", "http://farm9.staticflickr.com/8369/8428284309_a151dac5bc_b.jpg", :title=> 'Ollantaytambo, Peru', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Philadelphia", "http://farm9.staticflickr.com/8364/8429373644_72bb02aa00_b.jpg", :title=> 'Philadelphia, Pennsylvania', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "London", "http://farm9.staticflickr.com/8191/8429371320_37c6fb0520_b.jpg", :title=> 'London, England', :class => 'invisible', :'data-gallery' => 'gallery' %> 
                <%= link_to "Muskegon, Michigan", "http://farm9.staticflickr.com/8512/8429372106_3e298d7abe_b.jpg", :title=> 'Muskegon, Michigan', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Tokyo Fish Market", "http://farm9.staticflickr.com/8467/8428280209_0e0fc2d8bb_b.jpg", :title=> 'Tokyo Fish Market', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Detroit, Michigan", "http://farm9.staticflickr.com/8189/8429384498_cda3c41863_b.jpg", :title=> 'Detroit, Michigan', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Las Vegas", "http://farm9.staticflickr.com/8375/8429383854_eae3385afd_b.jpg", :title=> 'Las Vegas, Nevada', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Los Angeles, California", "http://farm9.staticflickr.com/8216/8428292905_26e1c480f3_b.jpg", :title=> 'Los Angeles, California', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Koh Chang, Thailand", "http://farm9.staticflickr.com/8044/8428292515_ea65277294_b.jpg", :title=> 'Ko Chang, Thailand', :class => 'invisible', :'data-gallery' => 'gallery' %>
            </div>
        </div>
    
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">  
            <div class="span4">
                <%= link_to "Things", "http://farm9.staticflickr.com/8492/8450329350_01440c0ff1_b.jpg", :title=> 'Tokyo Service', :class => 'Things-Overlay', :'data-gallery' => 'gallery' %>
                <%= link_to "Amstel", "http://farm9.staticflickr.com/8328/8428495911_30361ed25d_b.jpg", :title=> 'One too Many', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "The L", "http://farm9.staticflickr.com/8495/8428500881_d83a2e4cfa_b.jpg", :title=> 'The L', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Wood", "http://farm9.staticflickr.com/8073/8429585652_5c820cb7b8_b.jpg", :title=> 'Splinters', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Architectural Road", "http://farm9.staticflickr.com/8076/8429591602_25b6637d05_b.jpg", :title=> 'Road to Nowhere', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Franz Glacier", "http://farm9.staticflickr.com/8215/8429590874_4a7298d626_b.jpg", :title=> 'Franz Joseph Glacier', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Sheeping Overlook", "http://farm9.staticflickr.com/8224/8428500279_f71533d6d2_b.jpg", :title=> 'Sheeping Overlook', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Train Clock", "http://farm9.staticflickr.com/8234/8428499765_b61ac2c539_b.jpg", :title=> 'Departure Time', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Lonely Street", "http://farm9.staticflickr.com/8361/8428498897_41372ea375_b.jpg", :title=> 'Lonely Road', :class => 'invisible', :'data-gallery' => 'gallery' %> 
                <%= link_to "Rural Railroad", "http://farm9.staticflickr.com/8375/8428498469_04333193ac_b.jpg", :title=> 'Rural Railroad', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Grassy View", "http://farm9.staticflickr.com/8090/8428282075_792d9c5b3e_b.jpg", :title=> 'Grassy View', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Reflecting Lamp", "http://farm9.staticflickr.com/8238/8428497783_5bbb0cd60d_b.jpg", :title=> 'Light Reflection', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Urban Subaru", "http://farm9.staticflickr.com/8087/8429587532_d857046567_b.jpg", :title=> 'Urban Subaru', :class => 'invisible', :'data-gallery' => 'gallery' %> 
                <%= link_to "Subaru STI", "http://farm9.staticflickr.com/8190/8429586906_09081ba00b_b.jpg", :title=> 'Subaru STI', :class => 'invisible', :'data-gallery' => 'gallery' %>
                <%= link_to "Tokyo Franc", "http://farm9.staticflickr.com/8360/8429586348_20b1b69ff8_b.jpg", :title=> 'Tokyo Franc', :class => 'invisible', :'data-gallery' => 'gallery' %>
            </div>
        </div>
    </div>
</div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
        <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
        <script src="bootstrap/js/bootstrap-image-gallery.min.js"></script>
    </body>  
</html>  
